<div class="allGroups">

  <div class ="UserName">
    現ユーザー
    <%= current_user.nickname %>
  </div>


  <% @group.each do |group| %>
  <div class="groups__name">
    <%= link_to group.name, class: "group__path"%>
  </div>
  <% end %>

</div>

